body{
  background: #e3deda;
  color: #161112;
}
.title{
  text-align: center;
  font-size: 25px;
}
.text{
  width: 50vw;
  margin: 20px auto 40px;
}
.greeting{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.greeting__title{
  font-size: 35px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: max-content;
  padding-bottom: 5px;
  border-bottom: 5px solid #000;
}
.greeting__text{
  font-size: 20px;
  text-align: center;
  width: 800px;
}
.who-we-are{
  background-color: #fff;
  margin: 40px 0;
  padding-bottom: 40px;
}
.who-we-are__img{
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  margin-bottom: 40px;
}
.mission{
  background-color: #fff;
  padding-top: 40px;
  margin: 40px 0;
}
.mission__box-img{
  display: flex;
  width: 50vw;
  margin: 0 auto;
}
.mission__box-img--item:first-child{
  margin-right: 40px;
}
.mission__box-img--item{
  flex: 1;
  margin-bottom: 40px;
  max-width: 24vw;
}

