input[type='text']{
    border: 2px dashed #003a00;
}
.container{
    display: flex;
}
.filter{
    flex: 1;
    height: 900px;
    background-color: #fff;
    margin-right: 50px;
    position: sticky;
    top: 30px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    overflow: scroll;
    overflow-x: hidden;
}
.filter__list-item:first-child{
    margin-top: 0;
}
.filter__list-item:last-child{
    padding-bottom: 20px;
    border-bottom: 2px dashed grey;
}
.filter__list-item{
    padding-top: 10px;
    margin: 20px;
    border-top: 2px dashed grey;
}
.result-sort{
    flex: 4;
}
.result-sort__items{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    background-color: #fff;
}
.item:hover{
    box-shadow: 10px 8px 20px #003a00, -10px 10px 20px #003a00;
    transform: translateY(-5px);
}
.item__title{
    text-align: center;
    font-size: 18px;
    margin: 15px 0 10px;
}
.item__img-box{
    position: relative;
}
.item__price{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    background-color: #617a64;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    font-size: 22px;
    font-weight: 700;
}
.item__price-text{
    transform: rotate(-45deg);
}
.item__price-text span{
    font-size: 14px;
    margin-bottom: -5px;
}
.btn {
	line-height: 40px;
	padding: 2px 35px;
	margin: 0 0 20px;
	background-color: transparent;
    font-size: 20px;
    color: #003a00;
    transition: .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: 2px solid #003a00;
    box-shadow: 0 0 10px #003a00;
}
.btn:hover{
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 0 0 0 transparent;
    background-color: #e3b347;
}