.container{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-around;
    max-height: 100px;
    padding: 5px 0;
}
.nav_logo{
    flex: 2;
    text-align: center;
}
.nav_logo__img{
    height: 60px;
    max-width: 100%;
}
.nav_menu{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_basket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.nav_basket__img{
    height: 30px;
    max-width: 100%;
}
.promo_video{
    background-image: url(../img/promo.jpg);
    background-position: top;
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
}
.promo_video__txt{
    color: #2f90f0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 60px;
    background-color: azure;
    padding: 0px 10px;
    border: solid skyblue 10px;
    border-radius: 40px;
}