.container{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-around;
    max-height: 100px;
    padding: 5px 0;
}
.nav_logo{
    flex: 2;
    text-align: center;
}
.nav_logo__img{
    height: 60px;
    max-width: 100%;
}
.nav_menu{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_basket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
}
.nav_basket__img{
    height: 30px;
    max-width: 100%;
}
