.title__main{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: darkslategray;
    border-top: 1px solid grey;
    margin: 50px auto 0px;
    padding-top: 50px;
    width: 70vw;
}
.container{
    width: 70vw;
    padding: 2vw;
    margin: 40px auto 20px;
}
.nav{
    height: 10vh;
    display: flex;
    font-size: 20px;
}
.nav-logo{
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo--img{
    max-height: 70px;
    margin: auto 120px;
}
.nav__menu{
    flex: 1.5;
    display: flex;
    justify-content: space-around;
}
.nav__menu-item{
    margin: auto 10px;
    white-space: nowrap;
    border-bottom: 4px solid transparent;
    transition: ease-in .3s;
}
.nav__menu-item:hover{
    border-bottom: 4px solid #00fa98;
}
.active-page{
    border-bottom: 4px solid #00fa98;
}
.registry{
    flex:0.3;
    display: flex;
}
.registry__toreg,
.registry__log-in{
    font-size: 18px;
    border-radius: 30px;
    background-color: ivory;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}
.registry__toreg:hover,
.registry__log-in:hover{
    background-color: #00fa98;
    /* background-color: #2EE59D; #f5dc4e*/
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: ivory;
    transform: translateY(-5px);
}
.registry__log-in{
    margin: auto 10px auto 120px;
}
.registry__toreg{
    margin: auto 10px;
}
.basket{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket-link{
    height: 50px;
    width: 50px;
}
.promo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.advantages__items{
    display: flex;
}
.advantage{
    flex: 1;
    margin: 0 30px;
}
.advantage--title{
    font-size: 20px;
    line-height: 28px;
    margin: 30px 0 15px;
    color: darkcyan;
    text-align: center;
}
.advantage--text{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.advantage--img{
    position: relative;
    text-align: center;
}
.advantage--img-item{
    z-index: 5;
    max-width: 100px;
}
.advantage--img{
    background-image: url('../img/cloud.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}
.products{
    text-align: center;
    position: relative;
}
.products__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw;
}
.product__item{
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    box-shadow: 0px 0px 10px rgb(58, 58, 58);
}
.product__item-block--img{
    position: relative;
}
.product__item--img{
    max-width: 100%;
}
.product__item--details{
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    font-size: 17px;
    line-height: 25px;
    padding: 10px 15px 20px 30px;
    background-color: darkcyan;
    color: aliceblue;
    transition: .5s ease;
}
.product__item--details-list{
    list-style-type: square;
}
.product__item-block--img:hover .product__item--details{
    opacity: 0.9;
}
.product__item--price{
    color: darkcyan;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    max-width: max-content;

}
.product__item--price span{
    font-size: 20px;
    color: skyblue;
}
.product__item--name{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: darkslategray;
}
.products__btn-more{
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 0 0 0 3px darkcyan;
    color: darkcyan;
    width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.btnflip {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
  }
  .btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    color: #fff;
    transition: 1s;
  }
  .btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
  }
  .btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
  }
  .btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
  }
  .btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
  }
  .btnflip-item.btnflip__center {
    background: linear-gradient(to left, #c31a5b, #7129bd);
  }
  .btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #c31a5b, #ffdd1f);
    border-radius: 30px;
    transform: translateZ(-1px);
  }
  .btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
  }
.footer{
    min-height: 200px;
    text-align: center;
    background-color: dimgray;
    color: ghostwhite;
    padding: 50px;
    margin-top: 100px;
}