.title{
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: darkslategray;
    border-top: 1px solid grey;
    margin: 50px auto 0px;
    padding-top: 50px;
    width: 80vw;
}
.container{
    width: 84vw;
    padding: 2vw;
    margin: 40px auto;
}
.nav{
    height: 8vh;
    display: flex;
    font-size: 16px;
}
.nav-logo{
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo--img{
    max-height: 70px;
    margin: auto 120px;
}
.nav__menu{
    flex: 1.5;
    display: flex;
    justify-content: space-around;
}
.nav__menu-item{
    margin: auto 10px;
    white-space: nowrap;
    border-bottom: 4px solid transparent;
    transition: ease-in .3s;
}
.nav__menu-item:hover{
    border-bottom: 4px solid skyblue;
}
.registry{
    flex:0.3;
    display: flex;
}
.registry__log-in{
    margin: auto 10px auto 120px;
}
.registry__toreg{
    margin: auto 10px;
}
.basket{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket-link{
    height: 50px;
    width: 50px;
}
.promo{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 84vh;
}
.advantages__items{
    display: flex;
}
.advantage{
    flex: 1;
    margin: 0 30px;
}
.advantage--title{
    font-size: 20px;
    line-height: 28px;
    margin: 30px 0 15px;
    color: darkcyan;
    text-align: center;
}
.advantage--text{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.advantage--img{
    position: relative;
    text-align: center;
}
.advantage--img-item{
    z-index: 5;
    max-width: 100px;
}
.advantage--img{
    background-image: url('../img/cloud.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    max-width: 100%;
}